{{- if .Values.clusterRole.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "labid.clusterRoleName" . }}
rules:
  - apiGroups: [""]
    resources: ["serviceaccounts"]
    verbs: ["get"]
{{- end }}
